body {
  /* background-color: #C0988D; */
  background-color: #C0988D;
  height: 100%;    
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;

  

}
